rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /foodRegister/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}